.forgotpassword {
    font-size: 1vw;
    font-weight: 500;
    margin: -1vw 0 1vw;
    display: flex;
    justify-content: space-between;
}

.forgotpassword label input {

    accent-color: #e4e4e4;
    margin-right: 0.2vw;
}

.forgotpassword a {
    color: #e4e4e4;
    text-decoration: none;
}

.forgotpassword a:hover {

    text-decoration: underline;
}

@media screen and (max-width:990px) {
    .forgotpassword
    {
     font-size: 1.7vw;
    }
}

@media screen and (max-width:560px) {
    .forgotpassword
    {
     font-size: 2.5vw;
    }
}

@media screen and (max-width:400px) {
    .forgotpassword
    {
     font-size: 3.5vw;
    }
}