.addsnackform
{
    background-color: antiquewhite;
    border-radius: 6px;
    width:80%;
    margin: auto;
}

 .input{
    border-radius: 4px;
    height: 2.2rem;
    border:1px solid black;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.8rem;
}

