.filtersdiv
{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw;
    margin-top: 5vw;
}


@media screen and (max-width:1145px){
    .filtersdiv
    {   margin-top: 6vw;
        margin:7vw;
    }

    .genrefilter
    {  position: absolute;
        right: 0;
        margin: 3vw;
        margin-top: 0;
    }

    .langfilter
    {
        position: absolute;
        left: 0;
        margin: 7vw;
        margin-top: 0;

    }
}

@media screen and (max-width:900px){
    .filtersdiv
    {  
        margin:7.5vw;
        margin-top: 12vw;
    }

    .genrefilter
    {  position: absolute;
        right: 0;
        margin: 3.5vw;
        margin-top: 0;
    }

    .langfilter
    {
        position: absolute;
        left: 0;
        margin: 7.5vw;
        margin-top: 0;

    }
}


@media screen and (max-width:746px){
    .genrefilter
    {  position: absolute;
        right: 0;
        margin: 4vw;
        margin-top: 5vw;
    }

    .langfilter
    {
        position: absolute;
        left: 0;
        margin: 8vw;
        margin-top: 5vw;

    }
}

@media screen and (max-width:546px){
    .filtersdiv
    {   margin-top: 8vw;
        margin:9vw;
        margin-bottom: 8vw;
    }

    .genrefilter
    {  position: absolute;
        right: 0;
        margin: 6vw;
        margin-top: 5vw;
    }

    .langfilter
    {
        position: absolute;
        left: 0;
        margin: 10vw;
        margin-top: 5vw;

    }
}

@media screen and (max-width:400px){
    .filtersdiv
    {   margin-top: 8vw;
        margin:12vw;
        margin-bottom: 15vw;
    }

    .genrefilter
    {  position: absolute;
        right: 0;
        margin: 6vw;
        margin-top: 5vw;
    }

    .langfilter
    {
        position: absolute;
        left: 0;
        margin: 12vw;
        margin-top: 5vw;

    }
}