@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.profilediv
{
    right: 0;
}

.profile
{
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    border:3.5px solid green;
}

.dropdownlist
{
    color:green;
   background-color: white;
   text-decoration: none;
   width: 4rem !important;
}