.carouselimg
{
  width:100%;
}

@media screen and (max-width:991px) {
    .carouselimg
    {
      width:83%;
     margin-left: 6vw;
    }
}

@media screen and (max-width:767px) {
    .carouselimg
    {
      width:90%;
     margin-left: 3vw;
    }
}

@media screen and (max-width:576px) {
    .carouselimg
    {
      width:80%;
     margin-left: 10vw;
    }

}

@media screen and (max-width:450px) {
    .carouselimg
    {
      width:80%;
     margin-left: 12vw;
    }

}

@media screen and (max-width:400px) {
 
    .carouselimg
    {
      width:95%;
     margin-left: 6vw;
    }
}