
.body{
    background-color: black;
    font-family: poppins !important;
}

.a{
    text-decoration: none;
}
/* .button{
    cursor: pointer;
} */
.postButton{
    position: relative;
    right: 30%;
    background-color: #221f1f;
    color: gold;
    cursor: pointer;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aliceblue; */
    width:100%;
}

.backbtn
{
    background-color: #221f1f;
    color: white;
    width: 7rem;
    text-align: center;
    border: 0;
    height:3rem;
    font-size: 1.3rem;
    border-radius: 6px;
    border-color: white;
    transition: 0.5 ease;
    position: relative;
    left: 46%;
}

.backbtn:hover{
    background-color: green;
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.testimonialHeading{
    width: 100%;
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    /* background-color: rgb(246, 240, 255);  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonialHeading span{
    font-size: 1.3rem;
    color:gold;
    /* background-color: aliceblue; */
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.testimonialHeading .profileImg1{
    width: 100%;
    height: 100px;
    /* background: url("./KGF2.jpg")no-repeat ; */
    background-position: center;
    margin-right: 10px;
}

.addcomment{
    width: 100%;
    text-align: center;
    margin: 10px;
    /* background-color: aliceblue; */
    display: block;
}
.addcomment label{
    font-size: 2vw;
    color: gold;
}

/* .addcomment #rating
{
    width:5vw;
    height: 4vh;
    margin-left: 1rem;
    border-radius: 7px;
} */

/* .addrating .rating
{
    position: relative;
    width:5vw;
    height: 4vh;
    margin-left: 1rem;
    border-radius: 7px;
    background-color: #221f1f;
    color: white;
} */

/* .addcomment #rating .option
{
    width:4vw;
    height: 4vh;
    border-radius: 7px;
} */

.rating{

    margin-left: 1rem;
    width: 5vw;
    height: 4vh;
    background: #221f1f;
    color: white;
    border-radius: 7px;
}

#rating .option
{
    width:4vw;
    height: 4vh;
    border-radius: 7px;
}

.addcomment .button{
    padding: 10px 30px 10px 20px;
    background-color: #221f1f;
    border-radius: 4px;
    text-align: center;
    margin-left:2rem;
    color: gold;
    border: 0;
    font-size: 1.2rem;
}

.addcomment .comment_box input{     
    
    color: #221f1f;
    padding: 7px  7px ;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    background-color: white ;
    border: 0;
    height: 3rem;
    font-size: 1.3rem;
}

.addrating #rating
{
    background-color: #221f1f;
    color: white;
}

.testimonialHeading img{
    width:20%;
}

.testimonialBoxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonialBox{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #221f1f;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    border:0;
    border-radius: 6px;
}

.profileImg{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profileImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.nameUser{
    display: flex;
    flex-direction: column;
}
.nameUser strong{
   color: white;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.nameUser span{
    color: white;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.clientComment p{
    font-size: 0.9rem;
   color: white;
}
.testimonialBox:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

@media screen and (min-width:1061px) {

    .addcomment .comment_box input{     
    
        padding: 7px  7px ;
        width: 50%;
        border-radius: 6px;
        overflow: hidden;
    }

    .testimonialHeading img{
        width:25%;
        height:100%;
    }

    .profileImg1
    {
        display: flex;
        justify-content: center;
    }
    
    
}
 
@media(max-width:1060px){
    .testimonialBox{
        width:45%;
        padding: 10px;
    }

    .testimonialHeading img{
        width:50%;
    }

    .profileImg1
    {
        display: flex;
        justify-content: center;
    }

    .addcomment button
    {
       margin-top:1rem;
    }

    .addcomment label{
        font-size: 3vw;
    }

}
@media(max-width:790px){
    .testimonialBox{
        width:100%;
    }
    .testimonialHeading h1{
        font-size: 1.4rem;
    }

    .addcomment .comment_box input{     
    
        padding: 7px  7px ;
        width: 75%;
        border-radius: 6px;
        overflow: hidden;
    }

   
    .addcomment button
    {
       margin-top:1rem;
    }

    .testimonialHeading img{
        width:50%;
    }

    .profileImg1
    {
        display: flex;
        justify-content: center;
    }

    .addcomment label{
        font-size: 4vw;
    }

}


@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
    .testimonialHeading img{
        width:100%;
    }

    .profileImg1
    {
        display: flex;
        justify-content: center;
    }

    .addcomment label{
        font-size: 6vw;
    }


}
::selection{
    color: #ffffff;
    background-color: #252525;
}