@media screen  and (max-width:576px){
    .multiitemcarousal
    {
      margin-left: 0.5vw;
    }
}

@media screen  and (max-width:450px){
    .multiitemcarousal
    {
      margin-left: 0.5vw;
    }
}

@media screen  and (max-width:400px){
    .multiitemcarousal
    {
      margin-left: 0;
    }
}