body {
	font-family: Arial, sans-serif;
    height: 100%;
}


.formR {
	margin: 0 auto;
	width: 75%;
    margin-top:2rem;
}

.labelR {
	display: block;
	margin-bottom: 5px;
}

.inputr[type="text"] {
	padding: 8px;
	width: 160%;
	margin-bottom: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
    color: black;
}

button[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

button[type="submit"]:hover {
	background-color: #45a049;
}

option{
    background-color: #221f1f;
    color:white;
}

label{
    color: white;
}

.div1,.div2,.div3,.div4
{
    display: flex;
    justify-content: space-between;
}

.maindiv
{
    background-color:#221f1f;
    width:70%;
     margin:auto;
     margin-top:3rem;
     height: 100%;
}

.subdiv1,.subdiv2
{
    display: block;
}

.div6
{
    display: flex;
    justify-content: center;
}




