
.backHome {
  position: absolute;
  z-index: 2;
  margin-left: 31px;
  margin-top: 1.5rem;
}
.backHome a {
  text-decoration: none;
}
.backHome a button {
  padding: 4px;
  margin-top: 5px;
  background-color: #0d6efd;
  color: #fff;
  border-radius: 4px;
  transition: 0.5s ease;
}
.backHome a button:hover {
  background-color: red;
  color: #fff;
  transform: scale(1.2);
}
.background {
  position: absolute;
  background: url("../../Assests/RecentBooking/containerticket.png") no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
}
.container_own {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 75%;
  height: 560px;
  transform: translateY(16%);
  margin-left: 170px;
  border-radius: 15px;
  background: black;
  background-size: cover;
  background-position: center;
  overflow-y:auto;
  max-height: 35rem;
}

 .heading {
  font-size: 30px;
  color: #ffff;
  /* margin-top: 18rem; */
}
.table {
  width: 80%;
  padding-top: 1rem;
  text-align: center;
  border-collapse: collapse;
  border: 2px solid #ddd;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.th,
.td {
  padding: 10px;
}

.th {
  background-color: transparent;
  color: red;
  font-weight: bold;
}
.td {
  color: #fff;
}


.modalbox {
  border: 0px;
}
.container {
  width: 400px;
  height: auto;
  background-color: white;
  margin: 25px auto;
  position: relative;
  border-radius: 10px;
  padding: 2rem;
  /* background-color: black; */
  /* background: url('./wp5207687-avatar-movie-wallpapers.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px); */
}
.logo {
  text-align: center;
  color: black;
  font-size: 2rem;

  margin-bottom: 2px;
}

.posterimg {
  width: 80%;
  height: 350px;
  border-radius: 10px;
  z-index: 100;
  margin: auto;
}
.title {
  padding: 50px 25px 10px;
  z-index: 2;
}

.cinema {
  color: black;
  font-size: 22px;
}

.card {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transform: translateY(-40%); */
  /* bottom:0% ; */
  border: none;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-left: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  z-index: 1;
  top:24.5rem;
  width: 12rem;
}

.card .content .seat_time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .content .seat_time .span1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}
.card .content .seat_time .span2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #9d9ea3;
}
.th {
  border-color: inherit;
  border-style: solid;
  border-width: 2px;
}
.td {
  border-color: inherit;
  border-style: solid;
  border-width: 2px;
}
